@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap&subset=latin-ext");

* {
    transition-duration: 1.2s;
    -webkit-transition-duration: 1.2s;
    -moz-transition-duration: 1.2s;
}

@media (min-width:720px) {
    body {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        position: fixed;
        display: inline;
        z-index: 1;
        background-image:url("bg.jpg");
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: "Major Mono Display", sans-serif, monospace;
    }

    .card {
        position: absolute;
        display: inline-block;
        margin-top: 60vh;
        z-index: 3;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 15px;
        padding-top: 15px;
        text-align: center;
        background-color: rgb(253, 112, 112, 0.3);
    }
    
    .card:hover {
        background-color: rgb(253, 112, 112, 0.7);
        box-shadow: 0 0 10px #FD7272;
    }
    
    .bookmark {
        list-style: none;
        width: 100%;
    }
    
    .link {
        text-decoration: none;
        color: #cdcdcd;
        font-size: 14pt;
        width: 100%;
        font-weight: 600;
    }
    
    /* individual cards */
    #fourch {
        margin-left: 65vw;
    }
    
    #social {
        margin-left: 75vw;
    }
    
    #tools {
        margin-left: 20vw;
    }
    
    /* search field */
    #search {
        display: inline-block;
        position: absolute;
        z-index: 4;
        background-color: rgb(253, 112, 112, 0.2);
        border: 0 none transparent;
        outline: none;
        color: #cdcdcd;
        padding: 0;
        margin: 0;
        font-size: 24pt;
        top: 0;
        left: 0;
        width: 50%;
        text-align: center;
        font-family: "Major Mono Display", sans-serif, monospace;
    }
    
    /* date and time */
    #clock {
        position: absolute;
        display: inline-block;
        z-index: 2;
        line-height: 80vh;
        font-size: 48pt;
        text-align: center;
        width: 100%;
        color: #cdcdcd;
        text-shadow: 0 0 10px rgb(253, 112, 112);
    }
}