@font-face {
	src: url("MMD-Regular.ttf");
	font-family: "mmd";
}

@font-face {
	src: url("SourceCodePro-Bold.ttf");
	font-family: "scp";
}

* {
	font-family: "Anonymous Pro", "scp", monospace;
	animation-duration: 1.5s;
}

body {
	display: grid;
	grid-template-rows: 30% 70%;
	row-gap: 50px;
	padding: 50px;
	margin: 0;
	color: #fff;			
	background-color: #000;
	background: 
url("https://a.pomf.cat/ufxwcs.png") fixed center 
bottom, url("https://a.pomf.cat/cafhwq.gif") fixed center bottom;
	background-size: cover, cover;
}

#search {
	grid-row: 1;
	justify-self: center;
	align-self: center;
	width: 75%;
	font-size: 10vmin;
	border-radius: 10px;
	border: 1px solid #fff;
	padding: 10px;
	background: #000;
	text-align: center;
	color: transparent;
	text-shadow: 0px 0px 1px #fff, 2px -2px 5px #fff8, -3px 3px 5px #333;
} #search:focus {
	outline: none;
} #search::selection {
	background: transparent;
}

#tickers {
	display: grid;
	row-gap: 10px;
	column-gap: 10px;
	grid-row: 2;
	font-weight: 900;
	grid-template-columns: repeat(auto-fit, 200px);
	justify-content: center;
}

.card {
	display: grid;
	justify-items: center;
	border-radius: 5px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 1em;
	text-shadow:2px -2px 5px #efefef, -2px 2px 2px #333;
	padding: 10px;
	background: #000;
} .symbol {
	font-size: 1em;
} .range {
	font-size: 0.8rem;
}
