@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap');

body {
	background-color: rgb(36, 36, 36);
}
/**/
#search {
	background-color: rgb(36, 36, 36);
	font-family: "Josefin Sans", sans-serif;
	font-size: 5vw;
	width: 100vw;
	font-weight: 800;
	border: none;
	padding: 0px;
	color: #fff;
	text-shadow: 0 0 0px #fff;
	text-align: center;
	left: 0; top: 0;
	position: absolute;
	line-height: 100vh;
	outline: none;
	z-index: 1;
} ::-moz-placeholder {
	color: #fff;
	opacity: 1;
} ::-webkit-placeholder {
	color: #fff;
	opacity: 1;
} ::selection {
	background-color: #fff;
	color: rgb(32, 32, 32);
} ::-ms-clear {
	display: none;
}

@media (min-height: 500px) {
	#watchlist {
		background: transparent;
		font-family: "Josefin Sans", sans-serif;
		color: #fff;
		width: 100vw;
		height: 25vh;
		justify-content: space-evenly;
		align-items: center;
		left: 0; top: 0;
		position: absolute;
		display: grid;
		grid-template-columns: repeat(auto-fill, 200px);
		z-index: 2;
	} .card {
		display: grid;
		align-items: center;
		justify-items: center;
		grid-template-rows: 15% 70% 15%;
		grid-template-columns: 25% 25% 25% 25%;
		height: 100px;
	} .market {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 3;
		font-size: 2vmin;
	} .company {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 3;
		grid-column-end: 5;
		font-size: 2vmin;
	} .symbol {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 3;
		font-size: 3vmin;
	} .price {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 3;
		grid-column-end: 5;
		font-size: 3vmin;
	} .range {
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 5;
		font-size: 2vmin;
	}
}
